# Ignore all target directories throughout the project
/target
**/target/

# Your existing entries
Cargo.lock
scratch*
tests/assets
flamegraph*
perf*
!/cratetorrent/Cargo.toml
!/cratetorrent/Cargo.toml
!/cratetorrent/Cargo.toml
!/cratetorrent-cli/Cargo.toml
.idea
